
        <section class = "hero is-small is-warning 	has-shadow is-spaced">
            <div class = "hero-head">
                <nav class="navbar" role="navigation" aria-label="main navegation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">Home</a>
                        <a class="navbar-item" href="/about">About</a>
                        <a class="navbar-item" href="/help">Help</a>
                        <a class="navbar-item" href="/weather">Weather </a>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        <img class="is-rounded" class="image is-32x32" src="/img/nublado.png"> 
                        Weather App 
                        </img>
                    </h1>
                </div>
            </div>
        </section>
