{{!-- "Clima". Autor: María Estela Raffino. De: Argentina. Para: Concepto.de. Disponible en: https://concepto.de/clima-2/. Última edición: 22 de junio de 2020. Consultado: 11 de junio de 2021. --}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> WEATHER APP</title>
        <link rel="stylesheet" href="/css/mystyles.css">
        <script src="/js/script.js" defer></script>
    </head>
    <body>
        {{> header}}
        
        <section class="section is-medium">
           
            <br>

            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile is-back">
                    <div class="tile is-parent is-vertical has-text-centered">
                        <article class="tile is-child box">
                            <p class="title has-text-centered">WHAT IS THE WEATHER?</p>
                            <p class="title has-text-centered">____________________________</p>
                            <br>
                            <br>
                            <p class="subtitle has-text-justified">Climate refers to the patterns of variation in temperature, humidity, atmospheric pressure, 
                                wind, precipitation and other meteorological conditions of interest in a given geographic region. Climate is usually distinguished from time, 
                                since by the former, the long-term conditions in the region are understood, while by the latter, its state in a short period of time.</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title has-text-centered">WEATHER ELEMENTS</p>
                            <p class="title has-text-centered">____________________________</p>
                            <br>
                            <br>
                            <p class="subtitle has-text-justified">
                                Every climate is made up of a series of elements that are usually measured or evaluated by climatologists to make predictions. These are: <br>
                                <ul>
                                    <li>Atmospheric temperature.</li>
                                    <li>Atmospheric pressure.</li>
                                    <li>Winds.</li>
                                    <li>Humidity.</li>
                                    <li>Precipitation.</li>
                                </ul>
                            </p>
                        </article>
                    </div>
                    </div>
                    <div class="tile is-parent">
                            <article class="tile is-child box">
                            <p class="title has-text-centered">ATMOSPHERIC WEATHER</p>
                            <p class="title has-text-centered">____________________________</p>
                            <br>
                            <br>
                            <p class="subtitle has-text-justified">Atmospheric time is known as the physical characteristics of the atmosphere at a 
                                given moment, specifically in the troposphere, where most atmospheric phenomena occur. Thus, the temperature, humidity, 
                                cloudiness and degree of movement of the atmosphere are measured, from which it is possible to better understand the climate 
                                dynamics of the planet.</p>
                        </article>
                        
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title has-text-centered">CLIMATE FACTORS</p>
                            <p class="title has-text-centered">____________________________</p>
                            <br>
                            <br>
                            <p class="subtitle has-text-justified">
                                The climate is determined by the interaction of various factors, such as: <br>
                                <ul class="has-text-justified">
                                    <li><strong>Latitude: </strong>The geographical location of the region whose climate is studied has a huge influence on air temperature and the incidence of sunlight, which explains the variation of the seasons and other climatic cycles.</li>
                                    <li><strong>Altitude: </strong>The level of meters above sea level at which a region is, will affect the variables of atmospheric pressure and atmospheric temperature that it presents, according to the rule that states: the higher the altitude, the lower the temperature and the lower pressure.</li>
                                    <li><strong>Distance to the sea: </strong>The proximity or remoteness of the coast or of large bodies of water such as important lakes or large rivers, largely determines the humidity present in the air of a region.</li>
                                    <li><strong>Ocean currents: </strong>The movements of oceanic waters redistribute the masses of water on the planet and keep them moving, allowing warm and cold waters to alternate their position and cyclically affect the atmosphere, providing heat or cold as the case may be.</li>
                                    <li><strong>Relief: </strong>The orientation of the geological shape of the earth's surface can make a region more prone to drought or humidity, as in the case of mountains, for example: by stopping the humid winds coming from the coast, they absorb the humidity and generate dry winds from the other side.</li>
                                    <li><strong>Wind direction: </strong>The atmospheric air mass is often displaced, allowing hot and cold airs to offset their effect according to factors such as pressure, geography, etc. The action of the winds is key in the climate.</li>
                                </ul>
                        </p>
                    </article>
                </div>
                </div>
            </section>
        {{> footer}}
    </body>
</html>